@if (servicesContent$ | async; as servicesContent) {
	<div
		#servicesContainer
		appScroll
		[items]="itemRefs"
		[isSectorScrollEnabled]="false"
		class="services-container">
		<div #itemRef class="section scrollto">
			<div
				class="banner static-background"
				[style.background]="
					'url(../assets/images/services-page-images/' +
					servicesContent.images[0] +
					' )'
				">
				<div class="banner-content row clearfix">
					<div class="col-38">
						<div class="section-heading">
							<h1>{{ servicesContent.tagline }}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div #itemRef class="section scrollto">
				<div class="container">
          <div class="row">
            <div class="col-md-12">
              <h5>{{ servicesContent.description }}</h5>
              <h4>{{ servicesContent.description2 }}</h4>
            </div>
				</div>
			</div>
      <app-gallery-page [isDemoViewer]="true"></app-gallery-page>
		</div>
	</div>
}
