@if (aboutContent$ | async; as aboutContent) {
	<div
		#aboutContainer
		appScroll
		[items]="itemRefs"
		[isSectorScrollEnabled]="false"
		class="about-container">
		<div #itemRef class="section scrollto">
			<div
				class="banner parallax"
				[style.background]="
					'url(../assets/images/about-page-images/banner-images/' +
					aboutContent.images[0] +
					' )'
				">
				<div class="banner-content row clearfix">
					<div class="col-38">
						<div class="section-heading">
							<h1>{{ aboutContent.tagline }}</h1>
							<h2>{{ aboutContent.title }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div #itemRef class="section scrollto">
			<div class="container">
				<div class="row">
					<div class="col align-content-center">
						<img
							ngSrc="assets/images/about-page-images/{{
								aboutContent.images[1]
							}}"
							loading="eager"
							height="500"
							width="500" />
					</div>
					<div class="col">
						<p style="font-size: 18px">
							This div is just here to enable scrolling. Tip: Try to remove the
							background-attachment property to remove the scrolling effect.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div #itemRef class="section scrollto">
			<div class="container" style="background-color: #2e2c2d">
        <div class="row">
          <p style="text-align: center; color: white; font-size: 36px">
            This div is just here to enable scrolling. Tip: Try to remove the
            background-attachment property to remove the scrolling effect.
          </p>
        </div>
        <div class="row text-center">
						<div class="col-sm">bfdbfd</div>
						<div class="col-sm">asdsad</div>
						<div class="col-sm">asdsad</div>
          </div>
			</div>
		</div>
		<div #itemRef class="section scrollto">
      <div class="container p-0">
        <div class="row">
          <div
            class="static-background"
            [style.background]="
							'url(../assets/images/about-page-images/' +
							aboutContent.images[2] +
							' )'
						">
            <div class="banner-content clearfix small-banner">
              <div class="col-38">
                <div class="section-heading">
                  <h1>{{ aboutContent.tagline }}</h1>
                  <h2>{{ aboutContent.title }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
		<div #itemRef class="section scrollto">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="section-heading">
              <h3>{{ aboutContent.tagline }}</h3>
              <h2 class="section-title">{{ aboutContent.title }}</h2>
              <p class="section-subtitle">{{ aboutContent.description }}</p>
            </div>
          </div>
          @if (features$) {
            <div class="col-2-3">
              @for (feature of features$ | async; track feature; let i = $index) {
                <div>
                  <app-feature-block [feature]="feature"></app-feature-block>
                </div>
              }
            </div>
          }
        </div>
      </div>
		</div>
	</div>
}
